.shopping-cart {
    margin: 80px 0;
    right: 30px;
    background: $white;
    width: 320px;
    position: fixed;
    border-radius: 5px;
    padding: 20px;
    z-index: 10;
    @include transition;

    .btn-checkout {
        background-color: map-get($colors, "secondary") !important;
        color: $white;
    }

    li {
        list-style: none;
    }

    .shopping-cart-header {
        border-bottom: 1px solid lighten($black, 90%);
        padding-bottom: 15px;

        .shopping-cart-total {
            float: right;
        }
    }

    .shopping-cart-items {
        padding-top: 20px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;

        li {
            margin-bottom: 18px;
        }

        img {
            float: left;
            margin-right: 12px;
            height: 80px;
            width: 80px;
        }

        .item-name {
            display: block;
            padding-top: 5px;
            font-size: 16px;
        }

        .item-price {
            color: map-get($colors, "primary");
            margin-right: 8px;
        }

        .item-quantity {
            color: darken($white, 60%);
        }
    }
    &:after {
        bottom: 100%;
        left: 89%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $white;
        border-width: 8px;
        margin-left: -8px;
    }
}
