body,
html {
    font-family: $font-family;
    background: $background-color;
    height: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    &:active,
    &:focus {
        box-shadow: none;
    }
}

.bg-lg-transparent {
    @media screen and (min-width: map-get($breakpoints, "lg" )) {
        background-color: transparent !important;
    }
}
